@model OnlineExam.Core.DTOs.Identity.UpdateUserDto
@using OnlineExam.Core.Enums

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<dl class="row">
    <dt class="col-sm-3">First Name</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Last Name</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.Phone</dd>

    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">@Model.Role</dd>
</dl>

<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
